<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    body{
        min-height: 100vh;
    }
    main{
        background: #323232;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 50px;
        gap: 20px;
    }
    
   section.banner{
        width: 100%;
        height: 50vh;
        background: #252525;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
   }

   section.apis{
        width: 80%;
        background: rgb(57, 57, 57);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        border-radius: 10px;
   }

   .api-item{
        padding: 20px;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
   }
   .api-links {
        display: flex;
        gap: 10px;
        
   }
    .api-link{
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
    }

   a{
        color: white;
        text-decoration: none;
   }

</style>
<body>

    <main>
        <section class="banner">
            <h1> Captz's API</h1>
        </section>

        <h1>Avaliable API(s)</h1>
        <section class="apis">
            <% data.map((item,i) =>{ %>

            <div class="api-item">
                <h2><%= i+1+'. '+item.name %></h2>

                   <div class="api-links">
                       <a class="api-link" href="<%= item.endpoint %>" target="_blank">Json </a>
                       <a class="api-link" href="<%= item.view %>" target="_blank">View </a>
                       
                   </div>

             </div>

            <% }) %>
        </section>

    </main>

    
</body>
</html>